        *{
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        body{
            background-color: #f0f0f0;
        }
        .outer-heading {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h1 {
            font-size: 45px;
        }
        .inner-heading {
            border: 1px solid #ddd;
            height: 50px;
            line-height: 50px;
            text-transform: uppercase;
            overflow: hidden;
            font-size: 45px;
        }
        .inner-heading span {
            position: relative;
            color: crimson;
            animation: ani 10s ease infinite;
        }
        @keyframes ani {
            0%,100% {
                top: 0;
            }
            20% {
                top: 0;
            }
            25% {
                top: -50px;
            }
            45% {
                top: -50px;
            }
            50% {
                top: -100px;
            }
            60% {
                top: -100px;
            }
            65% {
                top: -150px;
            }
            70% {
                top: -150px;
            }
            75% {
                top: -200px;
            }
            80% {
                top: -200px;
            }
            90% {
                top: -250px;
            }
            95% {
                top: -250px;
            }
        }