*{
    margin: 0;
    padding: 0;
}
.runway{
    width:100%;
    height: 600px;
    background: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
hr{
    height: 100px;
    background-color: #000;
}
img{
    width: 200px;
    animation-name: running;
    animation-duration: 4s;
    animation-iteration-count: 1;
    background-color: #000;
    z-index: 999;
}
.str{
    width: 100%;
    height: 20vh;
    z-index: -1;
}
.line1{
    width: 100px;
    height: 20px;
    background-color: #fff;
    position: relative;
    top: 150px;
    left: 200px;
}
.line2{
    width: 100px;
    height: 20px;
    background-color: #fff;
    position: relative;
    top: 130px;
    left: 400px;
}
.line3{
    width: 100px;
    height: 20px;
    background-color: #fff;
    position: relative;
    top: 110px;
    left: 600px;
}
.line4{
    width: 100px;
    height: 20px;
    background-color: #fff;
    position: relative;
    top: 90px;
    left: 800px;
}
.line5{
    width: 100px;
    height: 20px;
    background-color: #fff;
    position: relative;
    top: 70px;
    left: 1000px;
}
.line6{
    width: 100px;
    height: 20px;
    background-color: #fff;
    position: relative;
    top: 50px;
    left: 1200px;
}
@keyframes running {
    0%{position: absolute; left: 0px; top: 0px; }
    10%{position: absolute; left: 200px; top: 200px;}
    25%{position: absolute; left: 300px; top: 400px;}
    40%{position: absolute; left: 500px; top: 400px;}
    50%{position: absolute; left: 600px; top: 400px;}
    75%{position: absolute; left: 800px; top: 450px;}
    100%{position: absolute; left: 1000px; top: 630px;}
}
